In [2]:
#Task-1(a)

def factorial(n):
  if n == 1:
    return 1
  else:
    return n*factorial(n-1)
print("Factorial: ",factorial(6))

Factorial:  720

In [4]:
#Task-1(b)

def fibonacci(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

n = 19
result = fibonacci(n)
print(f"The {n}-th Fibonacci number is: {result}")

The 19-th Fibonacci number is: 4181

In [7]:
#Task-1(c)

def printArray(arr, index=0):
    if len(arr) == index:
        return

    print(arr[index])
    printArray(arr, index+1)


printArray([1, 2, 3, 4, 5])

1
2
3
4
5

In [9]:
#Task-1(d)

def powerN(base, n):
    if n == 0:
        return 1
    else:
        return base*powerN(base, n - 1)


print(powerN(3, 1))
print(powerN(3, 2))
print(powerN(3, 3))

3
9
27

In [12]:
#Task-2(a)

def decimal_to_binary(n):
    if n == 0:
        return '0'
    elif n == 1:
        return '1'
    else:
        return decimal_to_binary(n//2)+str(n%2)


print(decimal_to_binary(0))
print(decimal_to_binary(1))
print(decimal_to_binary(10))
print(decimal_to_binary(27))

0
1
1010
11011

In [13]:
#Task-2(b)

class Node:
    def __init__(self, val, next=None):
        self.val = val
        self.next = next

def sum_of_linked_list(node):
    if node is None:
        return 0
    else:
        return node.val+sum_of_linked_list(node.next)


node5 = Node(5)
node4 = Node(4, node5)
node3 = Node(3, node4)
node2 = Node(2, node3)
node1 = Node(1, node2)

result = sum_of_linked_list(node1)
print(result)

15

In [14]:
#Task-2(c)
class Node:
    def __init__(self, val, next=None):
        self.val = val
        self.next = next

def reversed_linked_list(node):
    if node is not None:
        reversed_linked_list(node.next)
        print(node.val)


node4 = Node(40)
node3 = Node(30, node4)
node2 = Node(20, node3)
node1 = Node(10, node2)

reversed_linked_list(node1)

40
30
20
10

In [19]:
#Task-3

def hoc_builder(height):
  if height==0:
    return 0
  elif height==1:
    return 8
  else:
    return 5+hoc_builder(height-1)


print("HocBuilder: ",hoc_builder(4))

HocBuilder:  23

In [22]:
#Task-4(a)

def pattern(n, i=1):
    if i > n:
        return
    else:
        for j in range(1, i+1):
            print(j, end=" ")
        print()
        pattern(n, i+1)

input_num = 5
pattern(input_num)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [25]:
#Task-4(b)

def forward(i, n):
  if i == n+1:
    print()
    return
  print(i, end=" ")
  i = i+1
  return forward(i, n)

def num(a, i, j):
  if i==j-1:
    return
  print(" ", end=" ")
  i = i-1
  return num(a, i, j)

def pattern(a, i):
  if i==a:
    return
  num(a, a-i, 1)
  forward(1, i)
  pattern(a, i+1)
  if i==a-1:
      forward(1, i+1)

pattern(5, 1)

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [27]:
#Task-5

class FinalQ:
  def print(self,array,idx):
    if idx<len(array):
      profit = self.calcProfit(array[idx])
      print(f'{idx+1}. Investment: {array[idx]}; Profit: {self.calcProfit(array[idx])}')
      self.print(array,idx+1)

  def calcProfit(self,investmentt):
    if investmentt == 25000:
      return 0.0
    else:
      if investmentt<=100000:
        return self.calcProfit(investmentt-1000)+45.0
      else:
        return self.calcProfit(investmentt-1000)+80.0

array = [25000,100000,250000,350000]
f = FinalQ()
f.print(array,0)

1. Investment: 25000; Profit: 0.0
2. Investment: 100000; Profit: 3375.0
3. Investment: 250000; Profit: 15375.0
4. Investment: 350000; Profit: 23375.0

In [29]:
#Recursion_task_lab

def flattenList(given_list, output_list):
    for item in given_list:
        if isinstance(item, list):
            flattenList(item, output_list)
        else:
            output_list.append(item)
    return output_list

given_list = [1, [2, [3, [4], 5], 6], 7, 8, [9, [[10, 11], 12], 13], 14, [15, [16, [17]]]]
output_list = flattenList(given_list, [])
print(output_list)  # Output: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]